html {
    margin: 0;
}

span {
    display: block;
}

.Color {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
}

#blue {
    background: rgb(17, 36, 244);
}
 #red {
    background: rgb(236, 12, 12);
 }
 #grey {
    background: rgb(209, 209, 255);
 }
 #yellow {
    background: yellow;
 }